body{
  background: #A8AEC1;
  font-size: 18px;
  font-family: arial;
  margin: 0px;
  padding: 0px;
}
/* Style the tab */
h2{
  font-size: 18px;
  font-weight: normal;
}
.tab {
  overflow: hidden;
  /*background-color: #f1f1f1;*/
}

h3{
  margin-bottom: 0px;
  color: #000;
  font-family: arial;
  font-weight: bold;
}

.topline{
  background: #84B000;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #003D00;
}

.bottomline{
  height: 834px;
  border-bottom: 20px solid #84B000; 
}
.bottomborder{
  height: 834px;
  border-bottom: 1px solid #003D00; 
}

/* Style the buttons that are used to open the tab content */
.tab button {
  margin-top: 30px;
  background-color: #84B000;
  float: left;
  border: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 35px;
  transition: 0.3s;
  border: 1px solid #003D00;
  border-bottom: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #388B00;
  color: #fff;
  /*border: 1px solid #003D00;*/
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #003D00;
  color: #fff;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  border: 1px solid #003D00;
  background: #EBE7C3;
  margin: 0 auto;
  width: 1200px;
  height: 854px;
  clear: both;
}


.contentheader{
  display: inline-block;
  margin: 0 auto;
  width: 1200px;  
  clear: both;
}

.lefttools{
  display: inline-block;
  margin-left: 30px;
  width: 469px;
  /*background: #000;*/
}



.content{
  margin: 0 auto;
  width: 1200px;
  clear: both;
}

.header{
  background: #EBE7C3;
  margin: 0 auto;
  width: 1202px;
  clear: both;
  border: 1px solid #003D00;
}

.left{
  /*background: green;*/
  padding: 30px 20px;
  float: left;
  display: inline-block;
  width: 720px;
}

.right{
  float: right;
}

.modelcandle{
  float: right;
  background: url('img/bgofcandle.png') no-repeat center center / 600px 730px;
  margin-top: 60px;
  margin-right: 50px;
  width: 600px;
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.pic{
  margin: 20px 10px; 
}

.forms{
  margin-top: 20px;
  padding-left: 10px;
  color: #000;
  display: inline-block;
  border: 2px solid #84B000;
  border-radius: 5px;
  width: calc(100% - 12px);
  font-size: 18px;
}

.radiobtn{
  margin: 10px;
  margin-left: 20px;
  cursor: pointer;
}

input[type="radio"] {
    background-color: green;
}

label{
  cursor: pointer; 
}

#Chooseform{
  margin-left: 30px;
}

/*Slider*/

/*.candlesize{
  margin-top: 20px;
}*/

.maintabs{
  display: flex;
  justify-content: space-between;
}

.maintab{
  background: #84B000;
  border-top: 1px solid #003D00;
  padding: 10px 83px;
}

.maintab:hover{
  cursor: pointer;
  background: #388B00;
  text-decoration: underline;
  color: #fff;
}
/*
.maintab:first-child{
  border-left: 1px solid #003D00;
}

.maintab:last-child{
  border-right: 1px solid #003D00;
}*/

.active{
  background: #003D00;
  color: #fff;
}

.nextbtn{
  margin-top: 15px;
  font-size: 18px;
  background: #003D00;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  height: 35px;
  width: 100%;
}

.nextbtn:hover{
  cursor: pointer;
  background: #FEF5D8;
  color: #84B000;
  border: 2px solid #84B000;
}

/*Color tab*/
.bigbox{
  display: inline-flex;
  flex-wrap: wrap;
  width: calc(100%-2px); /*2px - товщина рамки зліва і справа*/;
  height: 640px;
  background: #FEF5D8;
  overflow: auto;
  /*padding: 20px;*/
  border: 2px solid #84B000;
}

.box{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  /*border-bottom: 1px solid #84B000;*/
}

.imgcolor{
  
  display: block;
  margin: 10px;
}

.imgcolor:hover{
  opacity: 1;
  margin: 5px;
  width: 210px;
  height: 310px;
  cursor: pointer;
}

.colorbox{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  /*border: 2px solid #84B000; */
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  margin-bottom: 10px;
  
}

.i{
  width: 50px;
  height: 40px;
  
  /*margin-right: 10px;*/
  /*margin-bottom: 10px; 
  margin-left: 10px;*/
  border: 1px solid black;
}


.i:hover{
  margin-top: 0;
  margin-bottom: 0;
  height: 55px;
  cursor: pointer;
}

.red{
  background: #E90719;
}

.green{
  background: green; 
}

.blue{
  background: blue; 
}

.yellow{
  background: yellow; 
}

.pink{
  background: pink; 
}

.linguee{
  background: #8D01A2;
}

.orange{
  background: orange; 
}

.black{
  background: #362920; 
}

/*Radio button styles*/
input[type="radio"] {
  margin: 10px;
}
/*Radio button styles*/


/*Slider range*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  margin-top: 30px;
  margin-bottom: 20px; 
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px;
  border-radius: 5px; 
  /*height: 25px;  Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  border: 1px solid black; 
  /*height: 25px;  Slider handle height */
  background: #84B000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  /*height: 25px;  Slider handle height */
  background: #84B000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/*Footer*/

footer{
  margin: 40px auto 20px ; 
  border: 1px solid #003D00;
  background: #EBE7C3;
  width: 1200px;
  height: 150px;
  clear: both;
}

.footerbottomline{

  height: 109px;
  border-bottom: 20px solid #84B000; 
}
.footerbottomborder{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 109px;
  border-bottom: 1px solid #003D00; 

}

.f_block{
  padding: 10px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  height: 26px;
  color: #fff;
  background: #003D00;
  text-align: center;
  vertical-align: middle;
}

.f_block:hover{
  cursor: pointer;
  background: #388B00;
  text-decoration: underline;
  color: #000;

}

.choosephoto{
  font-size: 30px;
  color: #362920;
}

.tab4{
  pointer-events: none;
}