body{
  background: #A8AEC1;
  font-size: 18px;
  font-family: arial;
  margin: 0px;
  padding: 0px;
}
/* Style the tab */
h2{
  font-size: 18px;
  font-weight: normal;
}
.tab {
  overflow: hidden;
  /*background-color: #f1f1f1;*/
}

h3{
  margin-bottom: 0px;
  color: #003D00;
  font-family: arial;
  font-weight: bold;
}

.topline{
  background: #84B000;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #003D00;
}

.bottomline{
  height: 834px;
  border-bottom: 20px solid #84B000; 
}
.bottomborder{
  height: 834px;
  border-bottom: 1px solid #003D00; 
}

/* Style the buttons that are used to open the tab content */
.tab button {
  margin-top: 30px;
  background-color: #84B000;
  float: left;
  border: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 35px;
  transition: 0.3s;
  border: 1px solid #003D00;
  border-bottom: none;
}

/*.tab button:hover {
  background-color: #388B00;
  color: #fff;
}*/

/* Create an active/current tablink class */
.tab button.active {
  background-color: #003D00;
  color: #fff;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  border: 1px solid #003D00;
  background: #EBE7C3;
  margin: 0 auto;
  width: 1200px;
  height: 854px;
  clear: both;
}


.contentheader{
  display: inline-block;
  margin: 0 auto;
  width: 1200px;  
  clear: both;
}

.lefttools{
  display: inline-block;
  margin-left: 30px;
  width: 469px;
  /*background: #000;*/
}



.content{
  margin: 0 auto;
  width: 1200px;
  clear: both;
}
header{
  background: #EBE7C3;
  margin: 0 auto;
  margin-top: 20px;
  width: 1202px;
  clear: both;
  border: 1px solid #003D00;
}

.left{
  /*background: green;*/
  padding: 30px;
  padding-left: 40px;
  float: left;
  display: inline-block;
  width: 720px;
}

.right{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 21px;
}

.busket{
  width: 80px;
  height: 80px;
  background: yellow;
}

.modelcandle{
  float: right;
  background: url('img/bgofcandle.png') no-repeat center center / 600px 730px;
  margin-top: 60px;
  margin-right: 50px;
  width: 600px;
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.choosephoto{
  display: block;
}


.logo{
  /*margin: 60px;*/
}

#pic2{
  display: block; 
}

#pic3{
  position: absolute;
  z-index: 1;
}



.forms{
  margin-top: 20px;
  padding: 10px;
  color: #000;
  display: inline-block;
  border: 2px solid #84B000;
  border-radius: 5px;
  width: calc(100% - 24px);
  font-size: 18px;
}

.radiobtn{
  margin: 10px;
  margin-left: 20px;
  cursor: pointer;
}

input[type="radio"] {
  transform:scale(1.5);
  margin: 200px;
}

label{
  cursor: pointer; 
  font-size: 25px;
  padding: 5px;
}

#Chooseform{
  margin-left: 30px;
}

/*Slider*/

/*.candlesize{
  margin-top: 20px;
}*/

.maintabs{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.maintab{
  background: #84B000;
  border-top: 1px solid #003D00;
  width: 200.5px;
  text-align: center;
  padding: 10px 20px;
}

.maintab:hover{
  cursor: pointer;
  background: #388B00;
  text-decoration: underline;
  color: #fff;
}
/*
.maintab:first-child{
  border-left: 1px solid #003D00;
}

.maintab:last-child{
  border-right: 1px solid #003D00;
}*/

.active{
  background: #003D00;
  color: #fff;
}

.nextbtn{
  margin-top: 15px;
  font-size: 18px;
  background: #003D00;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  height: 35px;
  width: 100%;
}

.nextbtn:hover{
  cursor: pointer;
  background: #FEF5D8;
  color: #84B000;
  border: 2px solid #84B000;
}

/*Color tab*/
.bigbox{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: calc(100% - 8px); /*2px - товщина рамки зліва і справа*/
  background: #FEF5D8;
  overflow: auto;
  /*padding: 20px;*/
  border: 4px solid #84B000;
}

.bigbox p{
  text-align: center; 
  font-size: 25px;
  font-weight: bold;
}

.box{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  /*border-bottom: 1px solid #84B000;*/
}

.imgcolor{
  
  display: block;
  margin: 10px;
}

.imgcolor:hover{
  opacity: 1;
  margin: 5px;
  width: 210px;
  height: 310px;
  cursor: pointer;
}

.colorbox{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  /*border: 2px solid #84B000; */
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  margin-bottom: 10px;
  
}

.i{
  width: 50px;
  height: 40px;
  
  /*margin-right: 10px;*/
  /*margin-bottom: 10px; 
  margin-left: 10px;*/
  border: 1px solid black;
}


.i:hover{
  margin-top: 0;
  margin-bottom: 0;
  height: 55px;
  cursor: pointer;
}

.red{
  background: #E90719;
}

.green{
  background: green; 
}

.blue{
  background: blue; 
}

.yellow{
  background: yellow; 
}

.pink{
  background: pink; 
}

.linguee{
  background: #8D01A2;
}

.orange{
  background: orange; 
}

.black{
  background: #362920; 
}

.rgb{
  background: url('img/rgb.jpg') no-repeat center center / 50px 50px;
}

.rgb:hover{
  background: url('img/rgb.jpg') no-repeat center center / 50px 60px;
}

/*Radio button styles*/
input[type="radio"] {
  margin: 10px;
}
/*Radio button styles*/


/*Slider range*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  margin-top: 30px;
  margin-bottom: 20px; 
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px;
  border-radius: 5px; 
  /*height: 25px;  Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  border: 1px solid black; 
  /*height: 25px;  Slider handle height */
  background: #84B000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  /*height: 25px;  Slider handle height */
  background: #84B000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/*Footer*/

footer{
  margin: 30px auto 20px ; 
  border: 1px solid #003D00;
  background: #EBE7C3;
  width: 1200px;
  height: 150px;
  clear: both;
}

.footerbottomline{

  height: 109px;
  border-bottom: 20px solid #84B000; 
}
.footerbottomborder{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 109px;
  border-bottom: 1px solid #003D00; 

}

.f_block{
  padding: 10px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  height: 26px;
  color: #fff;
  background: #003D00;
  text-align: center;
  vertical-align: middle;
}

.f_block:hover{
  cursor: pointer;
  background: #388B00;
  text-decoration: underline;
  color: #000;

}

.choosephoto{
  font-size: 30px;
  color: #362920;
}

.tab button.tab2{
  pointer-events: none;
  background: #ccc;
  color: grey;
}

.tab button.tab3{
  pointer-events: none;
  background: #ccc;
  color: grey;
}

.tab button.tab4{
  pointer-events: none;
  background: #ccc;
  color: grey;
}

#nextbtn1{
  pointer-events: none;
  background: #ccc;
  color: grey; 
}


/*#droppable { position: absolute; right: 5px; width: 300px; height: 300px}*/

.decorelement{
  /*width: 50px;
  height: 50px;*/
  z-index: 5;
  cursor: move;
  /*border: 1px solid #000; */
}

.choosedecor{
  margin-bottom: 20px;
}

.draggable{
  border: 2px solid #84B000;
  z-index: 2;
  margin: 12px;
  /*background: #003D00;*/
  padding: 10px;
}

.draggable:hover{
  /*width: 120px;
  height: 120px;*/
  background: #84B000;
  /*margin: 10px;*/
  /*padding: 5px;*/
  /*border: 1px solid #003D00;*/
}

.bigboxgreen{
  /*background: #88D86E;*/
}

#droppable{
  position: absolute;
  /*background: #fff;*/
  width: 420px;
  height: 630px;
  /*background: url('img/У13.jpg') no-repeat center center / 420px 630px;*/
  /*-*/
  /**/
}

.mydec{
  z-index: 10;
}

/*.borderGreen{
  width: 112px;
  height: 112px;
  margin: 5px;
  border: 2px solid #003D00;
}*/

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: none;
}

/*Сторінка з товарами*/

.wrapper{
  border: 1px solid #003D00;
  background: #EBE7C3;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-top: 30px;
  width: 1200px;
  /*max-height: 1172px;*/
  overflow: auto;
}

.container {
  border: 5px solid #003D00;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
  position: relative;
  width: 248px; /*344*/
  height: 372px; /*516*/
}

.image {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: #003D00;
  background-color: #84B000;
  font-size: 15px; /*18px*/
  width: calc(100%+2px);
  border: 2px solid #003D00;
  padding: 16px 5px; /*16px 18px;*/
}

.price{
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 10px;
  color: #003D00;
  background-color: #84B000;
  font-size: 15px; /*18px*/
  /*font-weight: bold;*/
  width: calc(100%+2px);
  height: 30px;
  border: 2px solid #003D00;
}

.buybtn{
  margin-top: 15px;
  font-size: 18px;
  background: #002D00;
  color: #EBE7C3;
  border: 1px solid #003D00;
  height: 40px;
  width: 100%;
}

.buybtn:hover{
  cursor: pointer;
  background: #EBE7C3;
  font-weight: bold;
  color: #84B000;
  border: 2px solid #84B000;
}

/*drag2*/
.myboxzxc{
  padding-top: 5px;
  position: relative;
  display: none;
  width: 100%;
  height: 110px;
  background: #84B000;
  /*border-bottom: 2px solid black;*/
  text-align: center;
  z-index: 5;
}

.myboxzxc span{
  margin-top: 50px;
  padding: 10px;
  background: red;
  color: white;
}

#canvasimg{
  display: inline-block;
}

canvas{
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 50px;
}

#result{
  display: inline-block; 
}

.lefttools h3{
  margin-top: 50px;
  font-size: 30px;
}

.saveCandle{
  margin-bottom: 30px;
}

.lefttools>p{
  font-size: 20px;
}

.nextbtn2{
  pointer-events: none;
  background: #ccc;
  color: grey;
}

.nextbtn2:hover{
  background: #fff;
}

.nextbtn3{
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}

.bixboxtest{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: 469px; /*2px - товщина рамки зліва і справа*/
  background: #FEF5D8;
  overflow: auto;
  border: 4px solid #84B000;
}

.cnadleready{
  margin-top:  100px;
}

#saveAs{
  height: 50px;
}



/*Busket*/

.wrapper h2{
  margin-left: 5%;
  font-size: 30px;
  font-weight: bold;
  color: #003D00;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 250px;
  background: #ddd;
  border: 2px solid #003D00;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0px 30px;
}

.itemelement{
  margin: 0 20px;
}

.item .deleteitem{
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.item img{
  width: 140px;
  height: 210px;
}

.item h3{
  width: 350px;
  margin: 0px;
}

.basket_count {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 126px;
  height: 41px;
  background-color: #f7f7f9;
  border: 1px solid #e5e5e5;
  text-align: center;
  color: #212121;
  font-size: 22px;
  text-shadow: 0.8px 0 0 #000;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .basket_count_btn {
    width: 40px;
    background: #fff;
    line-height: 39px;
    cursor: pointer; }
    .basket_count_btn:hover {
      background: #84B000;
      color: #fff; }
  .basket_count_val {
    font-family: ProximaNova, Arial, sans-serif;
    text-shadow: 0.8px 0 0 #000;
    font-size: 20px;
    width: 45px;
    border: none;
    background: none;
    padding: 0 3px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5; }

    .basket_count {
  color: #888;
  font-size: 16px;
  text-shadow: 0.8px 0 0 #000; }

.basket_price{
  width: 20%;
  font-size: 30px;
  text-align: right;
}

.basket_price span{
  font-weight: bold;
}

.basket_line{
  margin-top: 50px;
  width: 90%;
}

.bottomtotal{
  width: 90%;
  font-size: 35px;
  margin: 0 auto;
}

.totalbox{
  margin-top: 20px;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.totaltext{
  display: inline-block;
  margin-right: 40px;
}

.totalprice{
  display: inline-block;
  float: right;
  font-weight: bold;
}

.basket_buybtn{
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  background: #003D00;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  height: 50px;
  width: 100%;
}

.basket_buybtn:hover{
  cursor: pointer;
  background: #FEF5D8;
  color: #84B000;
  border: 2px solid #84B000;
}

.basket_continue_shopping{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  background: #FEF5D8;
  color: #003D00;
  border: 2px solid #003D00;
  border-radius: 5px;
  height: 50px;
  width: 230px;
}
.basket_continue_shopping:hover{
  cursor: pointer;
  background: #FEF5D8;
  color: #84B000;
  border: 2px solid #84B000;
}

.svg_cancel{
  width: 50px;
  height: 50px;
}

.basketimg{
  color: #eba60f; 
  font-size: 60px; 
  margin-top: 20px; 
  cursor: pointer;  
}

.removeitem{
  color: black; 
  font-size: 50px;
  cursor: pointer;
}

.removeitem:hover{
  /*font-weight: bold;  */
  color: grey;
}


/*Головна сторінка*/

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {

  max-width: 1000px;
  position: relative;
  margin: 20px auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.sliderText {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activePhoto, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.mainbox{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mySlides img{
  border-radius: 10px;
}

.mainbox .container{
  width: 220px;
  height: 330px;
  margin-top: 20px;
  margin-left: 0px;
}

.sectionName{
  font-size: 30px;
  color: #003D00;
}

.goToLink{
  font-size: 20px;
  color: #fff; 
  font-weight: normal; 
  text-decoration: underline;
}

.goToLink:hover{
  text-decoration: none;
  /*font-size: 22px; */
}

.greenline{
  background: #84B000;
  margin-top: 100px;
  /*margin-bottom: 20px;*/
}

.mainbox h3{
  margin: 10px;
  
  /*margin-bottom: 10px;*/
  padding: 0px;
}

.productsHeading{
  margin-bottom: 0px;
}

.productbox{
  display: flex;
  flex-wrap: wrap;
}

.constructor{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 44px;
  height: 500px;
  background: #ddd;
  border: 2px solid #003D00;
  margin-top: 30px;
  width: 996px;
}

.constructor p{
  font-size: 23px;
  font-weight: bold;
  margin: 20px;
  margin-top: 45px;
}

.constructor img{
  margin-top: 20px;
  margin-right: 30px;
}

#basketwrapper{  
  text-align: center;
  color: #003D00;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

#basketwrapper h2{
  text-align: left;
}

.mediaaboutus{
  margin-top: 88px;
}

.aboutusvideo{
  margin-top: 20px;
  margin-bottom: 30px;
  height: 560px;
}

.pagename{
  font-size: 30px;
  color: #003D00;
/*  margin-top: 30px;
  margin-bottom: 20px;*/
}

.aboutustext{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.aboutustext p{
  margin: 0px;
  margin-bottom: 10px;
  font-size: 22px;
}

.contactblock{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 200px;
  background: #ddd;
  border: 2px solid #003D00;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0px 30px;
}

.contactblock img{
  width: 150px;
  border-radius: 50%;
}

.contactblock h4{
  margin: 0px;
  font-size: 25px;
  display: inline-block;

}

.contactblock h5{
  margin: 0px;
  font-size: 20px;
  font-weight: normal;
}

.contactName{
  margin-left: 20px;
  width: 50%
}

.contactInfo{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 95px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: calc(100% - 40px);
  flex-direction: column;
  /*margin-left: 80px;*/
  border-left: 1px dashed black;
}

.contactInfo a{
  color: #84B000;
}

.contactInfo b{
  /*margin-top: 10px;
  margin-bottom: 10px;*/
}

.ourContacts{
  margin-top: 130px;
}

.contactsSection{
  flex-direction: column;
}

.mainbox .contactblock{
  width: calc(100% - 64px); /*60 - padding, 4 - border for "contactblock"*/
}


/*Delivery*/
.workschedule{
  width: 960px;
  padding: 20px;
  background: #ddd;
  border: 1px solid #003D00;
  margin-bottom: 20px;
}

.workscheduletext{
  margin: 0px;
  text-align: left;
}

.mainbox h2{
  margin: 0px;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 15px;
}

table{
  border: 2px solid #003D00;
  width: 100%;
}

th{
  padding: 10px;
  border: 1px solid #003D00;
}

td{
  padding: 10px;
  text-align: center;
  border: 1px solid #003D00;
  border-collapse: all;
}

.deliverytext{
  width: 960px;
  flex-direction: column;
  background: #ddd;
  padding: 20px;
  border: 1px solid #003D00;
}

.deliverytext p{
  margin: 0px;
  font-size: 18px;
}

.bottomflex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.ordering{
  margin-bottom:  0px;
}

.leftinputs{
  display: inline-block;
  padding: 10px;
  width: 500px;
  /*background: green;*/
  margin-left: 50px;
}

.leftinputs input{
  width: calc(100% - 29px);
  height: 30px;
  padding-left: 10px;
  margin: 10px;
  border: 4px solid #003d00;
  font-size: 16px;
}

.leftinputs select{
  margin-left: 10px;
  width: calc(100% - 10px);
  height: 40px;
  padding-left: 10px;
  margin: 10px;
  border: 4px solid #003d00;
  font-size: 16px; 
}
.leftinputs textarea{
 width: calc(100% - 29px);
  height: 150px;
  padding-left: 10px;
  margin: 10px;
  border: 4px solid #003d00;
  font-size: 16px;
  resize: none;
}

.leftinputs .addressinput{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*#house{
  width: 100px;
}*/

#street{
  width: 60%;
  /*flex-grow: 2; */
}

#house{
 /*flex-grow: 1; width: 100px;*/
 width: 15%;
 margin: 0px;
 margin-right: 10px;
}

#apartment{
  width: 25%;
  /*width: 65px;*/
  /*flex-grow: 1;*/
  margin: 0px;
}

.confirnorderbtn{
  margin-left: 10px;
  margin-top: 15px;
  font-size: 18px;
  background: #003D00;
  color: #EBE7C3;
  border: 1px solid #003D00;
  height: 40px;
  width: calc(100% - 10px);
}

.confirnorderbtn:hover{
  cursor: pointer;
  background: #EBE7C3;
  font-weight: bold;
  color: #84B000;
  border: 2px solid #84B000;
}

.rightblock{
  /*display: inline-flex;*/
  /*flex-direction: column;*/
  float: right;
  /*margin-top: 65px;*/
  /*margin-right: 50px;*/
  width: 100%;
  max-height: 630px;
  padding-bottom: 20px;
  background: #fff;  
  border: 10px solid #003D00;
  overflow: auto;
}

.rightblock img{
  display: inline-block;
  width: 100px; 
  height: 150px;  
  margin-left: 20px;
  margin-top: 20px; 
}

.rightblock h3{
  display: inline-block;
  margin: 0px;
  margin-top: 20px;

  /*margin-left: 10px;*/
  color: #000;
}

.productinfo{
  margin-top: 15px;
  padding-left: 10px;
  width: 300px;
  display: inline-block;
  /*flex-direction: column;*/
  /*border: 1px solid #003D00;*/
}

.productinfo h3{

  margin-top: 0px;
  margin-bottom: 10px;
}

.productinfo p{
  margin: 3px;
  /*margin-left: 10px;*/
}

.productinfo span{
  font-weight: bold;
}

.productitem img{
  display: inline-block;
}

.productitem .productinfo{
  display: inline-block;
}

.productitem{
  /*margin: 20px;*/
  /*float: left;*/
  display: flex;
  padding-bottom: 20px;
  border-top: 2px solid #003D00;
  border-left: none; 
  border-right: none;
  /*flex-direction: row;*/
  /*padding: */
}

.productsbox{
  float: right;
  margin-top: 65px;
  margin-right: 50px;
  width: 39%;
  max-height: 630px;
}

.productsbox hr{
  float: right;
  margin-top: 40px;
  width: 488px;
}

.rightbottomblock{
  float: right;

  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.rightbottomblock p{
  margin-top: 0px;
}

.order-finish{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
  font-size: 1.5rem;
}

.order-finish h2{
  color: #003D00;
  margin-left: 0px
}

.order-finish p{
  margin-top: 0px; 
}

.order-finish .continue-buy{
  color: #84B000;
  text-decoration: underline;
}

.order-finish .continue-buy:hover{
  text-decoration: none;
  cursor: pointer;
}