/* Style the tab */
.tab {
  overflow: hidden;
  /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
  margin-top: 30px;
  background-color: inherit;
  float: left;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 35px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;

}

/* Style the tab content */
.tabcontent {
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 1200px;
  clear: both;
}


.contentheader{
  display: inline-block;
  margin: 0 auto;
  width: 1200px;  
  clear: both;
}

.lefttools{
  display: inline-block;
  padding-left: 30px;
  width: 250px;
}

.workspace{
  display: inline-block;
  width: 100%;
}

.content{
  margin: 0 auto;
  width: 1200px;
  clear: both;
}

.header{
  margin: 0 auto;
  width: 1200px;
  clear: both;
  border: 1px solid #ccc;
}

.left{
  /*background: green;*/
  padding: 30px 20px;
  float: left;
  display: inline-block;
  width: 660px;
}

.modelcandle{
  float: right;
  background: url('img/bgofcandle.png') no-repeat center center / 600px 730px;
  margin-top: 60px;
  margin-right: 50px;
  width: 600px;
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  float: right;
}

.pic{
  margin: 20px 10px; 
}

.forms{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}

.radiobtn{
  margin: 10px;
  margin-left: 20px;
  cursor: pointer;
}

label{
  cursor: pointer; 
}

#Chooseform{
  margin-left: 30px;
}

/*Slider*/
.candle{
  
}

#bgphoto{
  transform: rotate(90deg);  
  width: 730px;
  height: 600px;
  z-index: -1;
}

.candlesize{
  margin-top: 20px;
  font-size: 18px;
}

.slider{
  margin-top: 15px;
}

.maintabs{
  display: flex;
  justify-content: space-between;
}

.maintab{
  border: 1px solid #ccc;
  padding: 10px 88.4px;
}

.maintab:hover{
  cursor: pointer;
  background: #ddd;
}

.maintab:first-child{
  border-left: none;
}

.maintab:last-child{
  border-right: none;
}

.active{
  background: #ccc;
}

.nextbtn{
  margin-top: 30px;
  font-size: 18px;
  background: #ccc;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 100%;
}

.nextbtn:hover{
  color: #999;
  border: 1px solid #ccc;
}

/*Color tab*/
.bigbox{
  display: inline-flex;
  flex-wrap: wrap;
  width: 460px;
  height: 660px;
  background: #ccc;
  overflow: auto;
  /*padding: 20px;*/
  /*border: 1px solid black;*/
}

.box{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  /*border-bottom: 1px solid #ccc;*/
}

.imgcolor{
  opacity: 0.8;
  display: block;
  margin: 10px;
}

.imgcolor:hover{
  opacity: 1;
  margin: 5px;
  width: 210px;
  height: 310px;
  cursor: pointer;
}

.colorbox{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 438px;
  height: 60px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-bottom: 10px;
  padding: 0 10px;
}

.i{
  width: 12%;
  height: 40px;
  
  /*margin-right: 10px;*/
  /*margin-bottom: 10px; 
  margin-left: 10px;*/
  border: 1px solid black;
}


.i:hover{
  margin-top: 0;
  margin-bottom: 0;
  height: 55px;
  cursor: pointer;
}

.red{
  background: #E90719;
}

.green{
  background: green; 
}

.blue{
  background: blue; 
}

.orange{
  background: orange; 
}

.pink{
  background: pink; 
}

.white{
  background: white; 
}

.black{
  background: black; 
}